.btn-default{
    font-size: 17px;
    font-family: @base-font-family;
    padding: 0px 25px;
    border-radius: 0;
    border: @default-button-border;
    background: @background-color;
}

.btn-primary{
    border-radius: 0;
    border: 2px solid #ababab;
    background: @base-color;
    padding: 0px 25px;
    font-size: 18px;
    font-weight: 500;
    font-family: @base-font-family;
}