.server-errors{
    .error-text{
        font-size: @server-error-font-size;
    }
}

.input-errors{
    .error-text{
        font-size: @input-error-font-size;
    }
}

.error-text{    
    color: @error-text-color;
}