/******Common constants ******/
@background-color: #FFFFFF;
@base-color: #829bad;
@base-font-family: "Segoe UI";
@default-button-border: 3px solid #cee4f5;


/****** Errors ******/
@error-text-color: #f0b9b9;
@input-error-font-size: 17px;
@server-error-font-size: 22px;

/****** Navigation bar ******/
@navbar-top-height: 80px;
@navbar-brand-height: 50px;
@navbar-brand-left-offset: 100px;
@navbar-brand-right-offset: 40px;

@navbar-top-height-xs: 50px;
@navbar-brand-height-xs: 30px;
@navbar-brand-left-offset-xs: 20px;
@navbar-brand-right-offset-xs: 15px;