/******Common constants ******/
@background-color: #FFFFFF;
@base-color: #829bad;
@base-font-family: "Segoe UI";
@default-button-border: 3px solid #cee4f5;


/****** Errors ******/
@error-text-color: #f0b9b9;
@input-error-font-size: 17px;
@server-error-font-size: 22px;