<nav class="navbar navbar-top">

    <div class="container-fluid">

        <div class="row row-bordered navbar-row hidden-lg hidden-md">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="vm.goToHome()">
                    <img src="/client/application/content/images/logo.png" class="brand-img"></img>
                </a>
            </div>
        </div>

        <div class="row row-bordered">
            <div class="navbar-header hidden-sm hidden-xs">
                <a class="navbar-brand" ng-click="vm.goToHome()">
                    <img src="/client/application/content/images/logo.png" class="brand-img"></img>
                </a>
            </div>

            <form class="form-inline">

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Discover</button>
                    <button ng-click="vm.goToCreateProject()" type="button" class="btn btn-default">Start a project</button>
                    <button type="button" class="btn btn-default hidden-md hidden-sm hidden-xs">About us</button>
                </div>

                <div class="input-group hidden-sm hidden-xs">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search Projects" aria-describedby="sizing-addon2">
                </div>

                <div ng-hide="vm.isAuthorized()" class="btn-group navbar-right">
                    <a class="btn btn-primary" ng-click="vm.goToLogin()">Log in</a>
                    <a class="btn btn-primary" ng-click="vm.goToRegister()">Sign up</a>
                </div>

                <div ng-show="vm.isAuthorized()" class="btn-group navbar-right">
                    <a class="btn btn-primary" ng-click="vm.signOut()">Sign out</a>
                </div>
            </form>
        </div>

        <div class="row hidden-lg hidden-md">
            <form class="form-inline">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search Projects" aria-describedby="sizing-addon2">
                </div>
            </form>
        </div>
    </div>
</nav>