<div class="container">
    <div class="row">
        <div class="server-errors">
            <span class="error-text">{{ vm.serverError }}</span>
        </div>
    </div>
    <div ng-if="!vm.hasProjects()" class="row">
        <h1 translate>THERE_ARE_NO_PROJECTS_IN_THE_SYSTEM</h1>
    </div>
    <div ng-if="vm.hasProjects()" class="row">
        <div ng-repeat="project in vm.projects track by project.id">
            <span><a ui-sref="{{ vm.states.PROJECT }}({ projectId: project.id })">
                {{$index + 1}}. {{ project.name }} - {{ project.projectType.name }} - {{ project.country.name }}
            </a></span>
        </div>
    </div>
</div>