<div class="container absolute-centered">
    <div class="row row-centered">
        <div class="col-md-8 col-md-offset-2">
                <h2 class="trip-request-header">Fill registration form</h2>
                <div class="server-errors">
                    <span class="error-text">{{ serverError }}</span>
                </div>
                <form name="userForm" class="form-horizontal" novalidate role="form">

                        <input-wrapper input-reference="userForm.userName" label="Name">
                            <input ng-model="user.UserName" type="text" class="form-control" name="userName"
                                       required xss ng-maxlength="50" />
                        </input-wrapper>

                        <input-wrapper input-reference="userForm.email" label="Email">
                            <input ng-model="user.Email" type="text" class="form-control" name="email"
                                       required xss ng-maxlength="50" />
                        </input-wrapper>

                        <input-wrapper input-reference="userForm.password" label="Password">
                            <input ng-model="user.Password" type="password" class="form-control" name="password"
                                       required xss ng-maxlength="50" />
                        </input-wrapper>

                    <button type="submit" class="btn btn-primary hr-centered" ng-disabled="isSubmitting" ng-click="register(user)">Ok</button>
                </form>
        </div>
    </div>
</div>